<footer class="footer">
  <div class="copy">&copy; 2023 Developer</div>
  <div class="bottom-links">
    <div class="links">
      <span>Mais Informações</span>
      <a href="{% url 'index' %}">Home</a>
      <a href="#">Sobre nós</a>
      <a href="#">Contatos</a>
    </div>
    <div class="links">
      <span>Mídias Sociais</span>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
    </div>
  </div>
</footer>