<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/index_style.css' %}">
        <title> HomePage Search </title>
    </head>
    <body>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
        {% include 'nav_bar.html' %}
        <main>
          <div class="intro">
            <h1>KeyProvide</h1>
            <p>Salve um produto e alimente um ser humano.</p>
            <button > <a href="{% url 'learn_more' %}"> Saiba mais </a></button>
          </div>
          <div class="achievements">
            <div class="work">
              <img src='{% static "polls/media/reuso.png"%}'/>
              <p class="work-heading">Reaproveitamento</p>
              <p class="work-text">Doação de produtos próximos a validade para instituições de caridade.</p>
            </div>
            <div class="work">
              <img src='{% static "polls/media/direction.png"%}'/>
              <p class="work-heading">Direcionamento</p>
              <p class="work-text">Apurar de forma precisa os alimentos que específicas instituições necessitam, e se os mesmos podem ser salvos da data de vencimento.</p>
            </div>
            <div class="work">
              <img src='{% static "polls/media/hierarchical-structure.png"%}'/>
              <p class="work-heading">Estruturamento</p>
              <p class="work-text">Auxiliar um problema estrutural e fundamental o ser humano, a fome. Colaboração de insumos a instituições de caridade</p>
            </div>
          </div>
          <div class="achievements">
            <div class="work">
              <img src='{% static "polls/media/instituicao.png"%}'/>
              <p class="work-heading">Instituicoes cadastradas</p>
              <h1 style="color: #E86100;"> {{ institutions }}</h1>
            </div>
            <div class="work">
              <img src='{% static "polls/media/doacao.png"%}'/>
              <p class="work-heading">Doacoes feitas</p>
              <h1 style="color: #E86100;">{{ donations }}</h1>
            </div>
          </div>
          <div class="about-me">
            <div class="about-me-text">
              {% if user.is_authenticated %}
                {% if user.is_juridic %}
                  <h2>Produtos vencimento 30 Dias</h2>
                  <div class="results">
                      {% if all_results|length > 0%}
                          {% for occurrence in all_results %}
                          <div class="card" style="width: 18rem; display: inline-block;">
                              <img class="card-img-top" src="{{ occurrence.image }}" alt="Card image cap">
                              <div class="card-body">
                                  <h5 class="card-title">{{ occurrence.name }}</h5>
                                  <p class="card-text">Data Vencimento: {{ occurrence.expired_date }}</p>
                                  <a href="./product/{{ occurrence.reference }}" class="btn btn-primary">Visualizar Produto</a>
                              </div>
                          </div>
                          {% endfor %}
                      {% endif %}
                  </div>
                {% else %}
                  <div class="results">
                      {% if need_donation|length > 0%}
                          {% for occurrence in need_donation %}
                          <div class="card" style="width: 18rem; display: inline-block;">
                              <img class="card-img-top" src="https://www.gazetadopovo.com.br/instituto-politeia/wp-content/uploads/2018/12/education-295185_1280-1024x1024.png" alt="Card image cap">
                              <div class="card-body">
                                  <h5 class="card-title">Lista Instituição {{ occurrence.corporation }}</h5>
                                  <p class="card-text">Quantidade de Produtos {{ occurrence.products_count }}</p>
                                  <a href="./specific_list/{{ occurrence.user_list_id }}/{{ user.id }}" class="btn btn-primary">Visualizar Lista</a>
                              </div>
                          </div>
                          {% endfor %}
                      {% endif %}
                {% endif %}
              {% endif %}
            </div>
          </div>
        </main>
        {% include 'footer.html' %}
    </body>
</html>