<!doctype html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
        <title>Login</title>
    </head>
    <body>
        {% include 'nav_bar.html' %}
            <div class="wrapper fadeInDown">
                <div id="formContent">
                   <div class="fadeIn first">
                    <br>
                    <img src='{% static "polls/media/key_provide_logo.png"%}' alt="User Icon"/>
                   </div>
                   <form action="login_user" method="post">
                        {% csrf_token%}
                      <input type="text" id="email" name="email" placeholder="E-mail">
                      <input type="password" id="password" name="password" placeholder="Senha">
                      <input type="submit" class="fadeIn fourth" value="Log In">
                        <div class="form-group">
                            {% for message in messages %}
                            <div class="alert alert-danger" role="alert">
                                {{message}}
                            </div>
                                {% endfor %}
                        </div>
                   </form>
                </div>
            </div>
    </body>
</html>
