<!doctype html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
        <title>Cadastro</title>
    </head>
    <body>
        {% include 'nav_bar.html' %}
        <div class="wrapper fadeInDown" data-toggle="buttons">
            <div id="formContent">
               <div class="fadeIn first">
                <img src='{% static "polls/media/key_provide_logo.png"%}'/>
               </div>
               <form method="post">
                    {% csrf_token%}
                  <input type="radio" id="fisico" name="tipo_usuario" value="fisico">Pessoa Fisica
                  <input type="radio" id="juridico" name="tipo_usuario" value="juridico">Pessoa Juridica
                  <input type="submit" class="fadeIn fourth" value="Continuar">
                    <div class="form-group">
                        {% for message in messages %}
                        <div class="alert alert-danger" role="alert">
                            {{message}}
                        </div>
                            {% endfor %}
                    </div>
               </form>
            </div>
        </div>
    </body>

</html>
