<!doctype html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <title>Cadastro</title>
    </head>
    <body>
        <div class="back">
            {% include 'nav_bar.html' %}
            <div class="div-center">
                <div class="content">
                    <form method="POST">
                        {% csrf_token%}
                        <div class="mx-auto" style="width: 500px;">
                            <div class="col-xs-8 col-xs-offset-4">
                                <h2 style="text-align:center;">Registrar</h2>
                            </div>
                            <hr />
                            <div class="form-group">
                                <label for="email">Email: </label>
                                <input type="text" class="form-control" name="email" id="email" placeholder="Email" value="{{user_form.email.value}}">
                            </div>
                            <div class="form-group">
                                <label for="name">Nome: </label>
                                <input type="text" class="form-control" name="name" id="name" placeholder="Usuário" value="{{user_form.name.value}}">
                            </div>
                            <div class="form-group">
                                <label for="password">Senha: </label>
                                <input type="password" class="form-control" name="password" id="password" placeholder="Senha" value="{{user_form.password.value}}">
                            </div>
                            <div class="form-group">
                                <label for="confirm_password">Confirmar a Senha: </label>
                                <input type="password" class="form-control" name="confirm_password" id="confirm_password" placeholder="Confirme a Senha" value="{{user_form.confirm_password.value}}">
                            </div>
                            {% if tipo_usuario == 'juridico' %}
                            <div class="form-group">
                                <label for="cnpj">CNPJ: </label>
                                <input type="text" class="form-control" name="cnpj" id="cnpj" placeholder="CNPJ" value="{{user_form.cnpj.value}}">
                            </div>
                            {% else %}
                                <input type="hidden" class="form-control" name="{{user_form.cnpj.name}}" id="cnpj" placeholder="CNPJ" value="">
                            {% endif %}
                            <div class="form-group">
                                <label for="cep">CEP: </label>
                                <input type="text" class="form-control" name="cep" id="cep" placeholder="CEP" value="{{user_form.cep.value}}">
                            </div>
                            <div class="form-group">
                                <label for="state">Estado: </label>
                                <input type="text" class="form-control" name="state" id="state" placeholder="Estado" value="{{user_form.state.value}}">
                            </div>
                            <div class="form-group">
                                <label for="city">Cidade: </label>
                                <input type="text" class="form-control" name="city" id="city" placeholder="Cidade" value="{{user_form.city.value}}">
                            </div>
                            <div class="form-group">
                                <label for="block">Bairro: </label>
                                <input type="text" class="form-control" name="block" id="block" placeholder="Bairro" value="{{user_form.block.value}}">
                            </div>
                            <div class="form-group">
                                <label for="number">Número: </label>
                                <input type="text" class="form-control" name="number" id="number" placeholder="Número" value="{{user_form.number.value}}">
                            </div>
                            <button type="submit" class="btn btn-primary">Cadastrar</button>
                            <a class="btn btn-dark" href="../../login_user" role="button">Entrar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        <div class="form-group">
            {% for message in messages %}
            <div class="alert alert-danger" role="alert">
                {{message}}
            </div>
            {% endfor %}
        </div>

    </body>

</html>
